html {
    scroll-behavior: smooth;
}


/* ********** Polices ********* */

@font-face {
    font-family: JoliCursif;
    src: url(../font/Photograph-Signature.ttf);
}

@font-face {
    font-family: craie;
    src: url(../font/RafflesBryantRegular.ttf);
}


/* ******** Animations ******** */

@keyframes titre {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* *** Titre *** */

#main_title {
    animation: titre 3s ease 0s 1 normal forwards;
    font-family: JoliCursif;
    text-align: center;
    font-size: 130%;
}

.top {
    margin-left: 90%;
}

.anim_titre {}

#plume {
    height: 1.5em;
}

.script {
    font-family: JoliCursif;
    font-size: 130%;
}

.card {
    border-color: #F2AE89;
    border-width: 1em;
}

.ardoise {
    /* background: url('../images/ardoisesm.png') center/contain no-repeat; */
    /* max-width: 350px; */
    /* height: 150px; */
    /* background-color: red; */
    /* display: block; */
    border-radius: 0.75em;
    width: 100%;
    max-width: 300px;
}

.ardoise:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.contenant {
    position: relative;
    text-align: center;
    /* background-color: yellow; */
}

.contenant a {
    font-size: 1.2em;
    font-family: craie;
    letter-spacing: 0.4em;
    line-height: 1.8;
}

.texte_centre_sur_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    background-color: #f8f0ec;
    border-radius: 1em;
}

#titre-senior {
    background-image: url("../images/open-book.jpg");
}

#titre-entreprise {
    background-image: url("../images/digital-marketing.jpg");
}

#titre-couple {
    background-image: url("../images/man-writing.jpg");
}

#titre-association {
    background-image: url("../images/computer.jpg");
}

#titre-quotidien {
    background-image: url("../images/student.jpg");
}

.titre_rubrique {
    /* Set a specific height */
    height: 300px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
    text-shadow: 1px 1px 20px black, 0 0 1em rgb(241, 220, 101), 0 0 0.2em rgb(241, 220, 101);
    color: white;
}