html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/Photograph-Signature.ttf);
}

.top {
    margin-left: 90%;
}

.script {
    font-family: myFirstFont;
    font-size: 130%;
}